.movies_logo p {
  font-size: 3rem;
  color:rgb(254, 142, 22);
  /* text-shadow: 2px 2px rgb(0, 67, 213); */
  font-weight: 600;
  cursor: pointer;
  
}

.profile_logo {
  width:45px;
  cursor: pointer;
}

.profile_logo > img {
  width:100%;
  border-radius: 50%;
}

.nav {
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  display: flex;
  width:100%;
  justify-content: space-between;
  height:50px;
  align-items: center;
  transition: all 0.3s ease-in;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_black {
  background: rgba(232, 226, 226, 0.8)
}

a {
  text-decoration: none;
  padding: 0 1rem;
}

ul {
  display: flex;
  list-style: none;
}
ul > li > a{
  font-size: 1.3rem;
}